.principal {

	h1{
		font-size: 30px;
	}
	.loginreg{
		background-color: aquamarine;
		top: 20%;
		left: 35%;
		right: 35%;
		width: 30%;
		height: 50%;
	}
	.perfiles{
		background-color: green;
		top: 20%;
		left: 35%;
		right: 35%;
		width: 30%;
		height: 50%;
	}

	background-image: url("https://images6.alphacoders.com/749/749966.png");
	background-repeat: no-repeat;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
